@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 20px 20px;
    font-family: 'Noto Sans KR', sans-serif;
}

p {
    color: darkgray;
}

.items {
    position: absolute;
}

.item {
    margin: 20px 0px 30px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img_user_profile {
    width: 75px;
    height: 75px;
    border-radius: 40%;
}

.user_name {
    color: black;
    font-weight: 500;
}